<h2>Add Course</h2>
<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input class="input" type="text" [(ngModel)]="title">
  </div>
</div>
<div class="field">
  <label class="label">Description</label>
  <div class="control">
  <textarea class="textarea" type="text" [(ngModel)]="description"></textarea>
  </div>
</div>
<app-date-input (onInputDate)="saveDate($event)"></app-date-input>
<app-duration-input (onInputDuration)="saveDuration($event)"></app-duration-input>
<app-authors-input></app-authors-input>
<div class="buttons">
  <button class="button is-primary is-light" (click)="addCourse()">Save</button>
  <button class="button is-link is-light">Cancel</button>
</div>
