<nav class="navbar is-primary">
  <div class="container">
    <div id='nav-menu' class="nav-right nav-menu">
      <app-logo></app-logo>
      <div *ngIf="isAuthorised" id="navbarExampleTransparentExample" class="navbar-menu">
<!--            <div *ngIf="!isAuthorised">-->

      <div class="navbar-start">
          <p class="navbar-item">
         {{login}}
          </p>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="button is-primary" (click)="logout()">
                  <span>Log off</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
